body {
    margin: 0;
}

*,
body {
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    padding: 0 10px;
}

a:link,
a:visited {
    color: #5469d4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button,
input[type="submit"],
input[type="button"] {
    background-color: #5469d4;
    cursor: pointer;
    border: 0;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
    border: 1px solid #b4b4b4;
    outline: 0;
    box-sizing: border-box;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 130px;
    max-height: 500px;
    padding: 10px;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
}

input[type="file"] {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
}

input[type="date"] {
    cursor: pointer;
}

.block-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 20px;
}

footer {
    padding: 20px;
}


/*
==========================================
HEADER 
==========================================
*/

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
}

.header__navbar {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 99;
    padding: 15px 30px;
    border: 1px solid #b4b4b4;
    border-radius: 6px;
    background: white;
}

.header__navbar a {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    display: block;
}

.header__logo {
    max-height: 100%;
}

.header__btn {
    color: #5469d4;
    cursor: pointer;
    font-size: 30px;
}


/*
==========================================
ALERTS
==========================================
*/

#notification-area {
    position: fixed;
    top: 15px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px;
}

.alert {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #6eda87;
}

.alert-error {
    border: 1px solid #f8a1a9;
    background-color: #f8d7da;
    color: #721c24;
}


/*
==========================================
MODALS
==========================================
*/

#overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.modal {
    position: fixed;
    background-color: white;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    max-width: 650px;
    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    display: none;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
}

.modal__input {
    display: block;
    margin-bottom: 15px;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
}

.modal__btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
}

.modal__label {
    margin-bottom: 5px;
    display: block;
}


/*
==========================================
LOADING
==========================================
*/

.loading {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}

.loading.is-visible {
    display: flex;
}

.loading div {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
==========================================
FORMS, INPUTS, SELECT Ecc.
==========================================
*/

.form__submit {
    padding: 10px 20px;
    width: 100%;
    font-size: 22px;
    margin: 30px auto 0 auto;
    display: block;
    max-width: 500px;
}

.field__input:focus,
.field__input:focus-visible,
select:focus,
select:focus-visible {
    outline: 1px solid #5469d4;
    border: 1px solid #5469d4;
}

.field__input {
    padding: 10px 12px;
}

.field__input.input-error {
    outline: 1px solid red;
    border-color: red;
}

.field__label,
.field__error {
    font-family: Roboto;
}

.field__input-number {
    max-width: 140px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.field__label {
    font-size: 18px;
    margin-bottom: 6px;
}

.field__error {
    margin-top: 3px;
    color: red;
    font-size: 14px;
    height: 15px;
}

.field__info {
    font-weight: 300;
    font-size: 15px;
    margin: 0px 0 25px 0;
}

.field__info ul,
.field__info p {
    margin: 0 0 5px 0;
    font-size: 15px;
}

.field__info li {
    font-size: 15px;
}

.field-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.field-checkbox input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

select {
    cursor: pointer;
    padding: 8px 6px;
}

#emptyList {
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #999;
}


/*
==========================================
MOBILE
==========================================
*/

@media only screen and (max-width: 600px) {
    .header__logo {
        max-height: 40px;
    }
    .modal {
        height: calc(100% - 20px);
    }
    #notification-area {
        top: 0;
    }
    .alert {
        padding: 15px;
    }
}